@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: heading;
    src: url("/fonts/spongebob.ttf") format("truetype");
}

.heading-font {
    font-family: heading;
}

@font-face {
    font-family: body;
    src: url("/fonts/magilio.ttf") format("opentype");
}

.body-font {
    font-family: body;
}

@font-face {
    font-family: description;
    src: url("/fonts/restora.otf");
}

.description-font {
    font-family: description;
}

@font-face {
    font-family: links;
    src: url("/fonts/luckiest-guy.ttf");
}

.links-font {
    font-family: links;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
  }
  .frame-image { /* or target the img tag directly if you prefer */
    width: 100%;
    height: 100%;
    object-contain: contain; /* or cover, depending on how you want the frame to fit */
}

@keyframes rotate-bg {
    from {
      transform: rotate(0deg) scale(2.5);
    }
    to {
      transform: rotate(360deg) scale(2.5);
    }
  }
  
  .animate-rotate-bg {
    animation: rotate-bg 15s linear infinite;
  }
  
  